$--c--light: #ffffff;
$--c--dark: #000000;
$--c--main: #888888;
$--c---main-shade: #777777;
$--c--secondary: #5489dc;
$--c--background: gold;

$--c--progress-low: #db1f35;
$--c--progress-medium: #ffc500;
$--c--progress-high: #5489dc;

$--c--tag-1: #e78946;
$--c--tag-2: #40f362;

$--c--border: #e5e5e5;
